\
REQUIREMENTS:

Before running the code you need to install certain library files they are listed below.

Package                   Version           cmd command
--------                  --------          -----------
pandas                    1.4.3             pip install pandas
bs4                       0.0.1             pip install bs4
requests                  2.27.1            pip install requests
pyshorteners              1.0.1             pip install pyshorteners 
tk                        0.1.0             pip install tk
Pillow                    9.0.1             pip install Pillow
